<div class="outer">
    <div>

        <div style="font-size: 30px; text-align: center;">
            <span style="color: red;">F</span>
            <span style="color: blue;">u</span>
            <span style="color: orange;">n</span>
            <span style="color: rgb(34, 255, 0);">d</span>
            <span style="color: rgb(0, 81, 255);">o</span>
            <span style="color: rgb(255, 0, 119);">o</span>

        </div>
        <br />
        <div style="text-align: center;">
            <h1>Reset Password</h1>
        </div>

        <div style="text-align: center;">
            <p>Enter New Password</p>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label> password</mat-label>
                <input matInput placeholder="  password">
            </mat-form-field>

        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>confirm password</mat-label>
                <input matInput placeholder=" confirm password">
            </mat-form-field>
        </div>
        <div class="check">
            <input type="checkbox">
            <label for="box"> Show password </label>
        </div>

        <div style="text-align: right; font-size: 30px;">
            <button style="background-color: rgb(64, 64, 252); color: aliceblue;">Reset</button>
        </div>

    </div>
</div>