
.boxsize
{
  display: flex; 
  flex-flow: row wrap;
  padding-left: 34px;

}
.con{
  padding-right: 30px;
  display: flex;
  padding-top: 5px;
  

}

.card{
  
  width:270px;
  max-height:150px;
  margin:15px auto 16px auto;
  border: 1px solid rgb(186, 184, 184);
//  padding: 20px 15px 10px 20px;
  border-radius: 8px;
  box-sizing: border-box;
}
