.OuterDiv {
    width: 600px;
    margin:32px auto 16px auto;
}

.InnerDiv {
    border: 1px solid rgb(186, 184, 184);
    padding: 2px 10px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 3px 3px 3px rgb(222, 222, 222);
    cursor: pointer;
}
.search {
    height: 20px;
    font-size: medium;
    background-color: transparent;
    width: 100%;
    margin: 32px auto 16px auto;;
    cursor: pointer;
    border: 0px;
}  

.mySearch {
    height: 30px;
    width: 100%;
    letter-spacing: .01428571em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    background-color: transparent;
    border: 0px transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    cursor: pointer;
}

// input:focus {
//     outline: none;
// }

.ic {
   display: flex;
    flex-direction:row;
   
    
}

.close {
    display: flex;
    align-items:flex-end;
    padding: 8px 190px;
}