.OuterDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding:5%;
}
.add{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 10px;
    margin: 0 5px;
    .material-symbols-outlined{
        padding: 10px;
    }
    .divImg{
        display: flex;
        width: 20px;
        height: 20px;
    }
    cursor: pointer;
    :hover{
        border-radius: 50%;
        background-color: #f1f3f4;
    }
}
.icons{
    height: 20px;
}