.OuterDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
   
}
.add{
    padding-top: 10px;
    padding-right: 8px;
    border: 10px;
    margin: 0 5px;
    .material-symbols-outlined{
        padding: 10px;
    }
    .divImg{
        display: flex;
        width: 23px;
        height: 23px;
        //padding-left: 20px;
    }
    // cursor: pointer;
    // :hover{
    //     border-radius: 80%;
    //     background-color: #f1f3f4;
    // }
}

