.outer{
    padding: 0px 0px 0px 40px;
    border: 1px solid rgb(220, 213, 213);
    border-radius: 8px;
    margin-top: 2.5%;
    margin-left: 27%;
    height: 90%;
    position: absolute;
    border: 0.5px solid rgb(222, 214, 214);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fundo{
    margin:20px;
    text-align: left;
}
.user{
    text-align: left;
    margin: 20px;
    
}

.name{
    text-align: justify;
   // margin-bottom: 20px;
    
    display: block;
    padding-left: 20px ;
}
.myAccount{
    text-decoration: none;
    text-transform: none;
    color: rgb(27, 27, 189);
}
.pass{
    margin: 20px;
    text-align: left;
}
.check{
    text-align: left;
    margin: 20px;
}
// .sign{
//     text-align: left;
//     margin: 20px;
//    //text-align: right;
//    text-align: start;
//}
.next{
    text-align: right;
    background-color: blue;
    color: azure;
}
