.outer{
    padding: 0px 0px 0px 20px;
    border: 1px solid rgb(220, 213, 213);
    border-radius: 8px;
    margin-top: 2.5%;
    margin-left: 24%;
    height: 90%;
    position: absolute;
    border: 0.5px solid rgb(222, 214, 214);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.fundo{
    margin:20px;
    text-align: left;
    margin-top: -30px;
}
.user{
    text-align: justify;
    margin: 20px;
    margin-bottom: -10px;
    
}

.name{
    text-align: justify;
   // margin-bottom: 20px;  
    display: block;
    padding-left: 20px ;
    width: 58vh;
   // margin-top: 30px;
   
    
    
}
.myAccount{
    text-decoration: none;
    text-transform: none;
    color: rgb(27, 27, 189);
     font-size: 19px;
    margin-right: 180px;
    margin-bottom: -20px;
}
.pass{
   // margin: 20px;
    text-align: left;
    padding: 20px;
  

}
.check{
    text-align: left;
    margin: 20px;
}
.sign{
    margin-left: -223px;
    margin-right: 90px;
    min-width: 120px;
}
.next{
 //   margin-top:10vh;
   margin-right: -29vh;
   background-color: blue;
    color: rgb(254, 254, 254);
    margin-left: 150px;
}
