.F{
    color: blue;
   }
   .u{
   color: red;
   }
   .n{
    color: orange;
   }
   .d{
    color: green;
   }
   .o{
    color: red;
   }
   .oo{
    color: blue;
   }
   .outer{
     padding: 40px 40px 40px 40px;
     border-radius: 8px ;
     margin-top: 1.0%;
     margin-left: 35%;
     margin-right: 35%;
     border:1px solid rgb(189, 186, 186);
     height: 50vh;
     width: auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     text-align: center;
     
   }
   .h2{
    font-size: 25px;
    font-style:normal  
   }
   .fun{
   margin-bottom: 80px;
   }
 .email{
   text-align: left;
   width: 50vh;
   
 }  
 .next{
   background-color: blue;
   color:white;
   font-size:17px
 }
