<form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
<div class="outer">
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <div class="fun">
            <div>
                <div >
                    <h1 style="font-size:25px;">
                        <span class="F">F</span>
                        <span class="u">u</span>
                        <span class="n">n</span>
                        <span class="d">d</span>
                        <span class="o">o</span>
                        <span class="oo">o</span>
                    </h1>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" >
                    <h2 class="h2">Forgot Password</h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <p>Enter your phone number or recovery email</p>
                </div>


            </div>
            <br />
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline" class="email">
                    <mat-label>Email or phone</mat-label>
                    <input matInput placeholder="Emailid"  formControlName="Emailid">
                    <mat-error>Email or Phone is required</mat-error>
                </mat-form-field>
            </div>
            <div style="text-align: right;">
                <button class="next">Next</button>
            </div>

        </div>
    </div>
</div>
</form>