.outer{
    border: 8px ;
    padding: 40px 40px 40px 40px;
    border-radius: 8px ;
    margin-top: 3.5%;
    margin-left: 35%;
    margin-right: 35%;
    border:1px solid rgb(189, 186, 186);
    height: 60vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.email{
    text-align: left;
    margin-left: 9px;
   // width: 30vh;
}
.linkProperty1 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.0rem;
    text-transform: none;
    text-decoration: none;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
    margin-right: 160px;
   
}
.linkProperty {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.0rem;
    text-transform: none;
    text-decoration: none;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
    margin-right: 210px;
}
.btn-property {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
    margin-left: -22px;
    margin-right: 98px;
    margin-top: 30px;
}
.btn-create {
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    color: white;
  //  margin-right: -15px;
    border: none;
  //  padding: 1px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer
}