<div class="outer">
    <div fxLayout="column" fxLayoutAlign="space-between center">
        <div>

            <h1>
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color: rgb(255, 119, 0);">n</span>
                <span style="color: green;">d</span>
                <span style="color: red;">o</span>
                <span style="color: blue;">o</span>
            </h1>
        </div>
        <div>
            <h1>Sign in</h1>

            <p>Use your Fundoo Account</p>
        </div>

        <div style="text-align: left;">
            <mat-form-field appearance="outline">
                <mat-label>Email or Phone</mat-label>
                <input matInput placeholder=" Email or Phone">
            </mat-form-field>
        </div>
        <div class="forgot">
            <a href="#" class="my Account">Forgot email?</a>
        </div>

        <div>
            <p><small>Not your computer? Use Guest mode to sign in privately.</small></p>
        </div>
        <div style="text-align: left;">
            <a href="#" class="lm" target="_blank">Learn More</a>
        </div>
        <div style="text-align: left;">
            <a href="#" class="my account" target="_blank">Create account</a>
        </div>
        <div>
            <button class="next">Next</button>
        </div>
    </div>
</div>