<div class="outer">
    <div fxLayout="column" fxLayoutAlign="space-between center">
        <div>

            <h1>
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color: rgb(255, 119, 0);">n</span>
                <span style="color: green;">d</span>
                <span style="color: red;">o</span>
                <span style="color: blue;">o</span>
            </h1>
        </div>
        <div>
            <h1>Sign in</h1>

            <p>Use your Fundoo Account</p>
        </div>

        <div class="email">
            <mat-form-field appearance="outline" style="width: 44vh;">
                <mat-label>Email or Phone</mat-label>
                <input matInput placeholder="Email or Phone">
            </mat-form-field>
        </div>

        <div style="text-align: left; margin: -5px;">
            <mat-form-field appearance="outline"style="width: 44vh;">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password">
            </mat-form-field>
        </div>
        <div >
            <a href="#" class="linkProperty1">Forgot Password?</a>
        </div>
        <br/>
        <div>
            <p class="section-paragraph">Not your computer? Use a Private Window to sign in. </p>
            <a href="#" class="linkProperty">Learn more </a>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between end" class="btn-layout">
            <button mat-button color="primary" class="btn-property">Create
                Account</button>
            <button mat-raised-button class="btn-create">Next</button>
        </div>
       
        
    </div>
</div>