<div class="outer">
    <div>

        <div style="font-size: 25px; text-align: center;">
            <span style="color: blue;">F</span>
            <span style="color: red;">u</span>
            <span style="color: orange;">n</span>
            <span style="color: green;">d</span>
            <span style="color: red;">o</span>
            <span style="color: blue;">o</span>

        </div>
        <br />
        <div style="text-align: center;">
            <h1>Reset Password</h1>
        </div>

        <div style="text-align: center;">
            <p>Enter New Password</p>
        </div>

        <div >
            <mat-form-field appearance="outline" class="pass">
                <mat-label> password</mat-label>
                <input matInput placeholder="  password">
            </mat-form-field>

        </div>

        <div >
            <mat-form-field appearance="outline" class="confirm">
                <mat-label>confirm password</mat-label>
                <input matInput placeholder=" confirm password">
            </mat-form-field>
        </div>
        <div class="check">
            <input type="checkbox">
            <label for="box"> Show password </label>
        </div>

        <div style="text-align: right;">
            <button style="background-color:blue; color: white;font-size: 17px;">Reset</button>
        </div>

    </div>
</div>