.F{
     color: blue;
    }
    .u{
    color: red;
    }
    .n{
     color: orange;
    }
    .d{
     color: green;
    }
    .o{
     color: red;
    }
    .oo{
     color: blue;
    }
    .outer{
      padding: 30px 30px 30px 30px;
      border-radius: 8px ;
      margin-top: 2.5%;
      margin-left: 35%;
      margin-right: 35%;
      border:1px solid rgb(189, 186, 186);
      height: 50vh;
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      
    }
  .email{
    text-align: left;
    
  }  
  .next{
    background-color: blue;
    color: azure;
    font-size:17px
  }
    
    