<div class="outer">
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <div>
            <div>
                <div>
                    <h1 style="font-size:30px;">
                        <span class="F">F</span>
                        <span class="u">u</span>
                        <span class="n">n</span>
                        <span class="d">d</span>
                        <span class="o">o</span>
                        <span class="oo">o</span>
                    </h1>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <h2 class="h2">Forgot Password</h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-hint>Enter your phone number or recovery email</mat-hint>
                </div>


            </div>
            <br />
            <div fxLayout="row" fxLayoutAlign="space-between center" class="email">
                <mat-form-field appearance="outline">
                    <mat-label>Email or phone</mat-label>
                    <input matInput placeholder="Email or phone">
                </mat-form-field>
            </div>

        </div>
        <div style="text-align: right;">
            <button class="next">Next</button>
        </div>

    </div>

</div>